<div id="warning-message" class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="row">
      <p>
        Clicking on the button below will show you the note.
        This URL will stop existing and a new URL will be created!
      </p>

      <button id="showText" class="btn btn-danger">
        Show me! 
      </button>
    </div>

    <hr>
    
    <div class="row">
      <p><strong>Share link:</strong></p>
      <input type="text" class="form-control" readonly="readonly" value="<%= request.original_url %>">
    </div>
  </div>
</div>

<div id="actual-message" class="row hidden">
  <div class="col-sm-offset-3 col-sm-6">
    <p><strong>Note:</strong></p>
    <div id="message">

    </div>

    <hr>
   
    <label for="new-url">Pass it on:</label>
    <input id="new-url" class="form-control" type="text" readonly="readonly">
  </div>
</div>
