<div class="jumbotron">
  <h1>One Time.</h1>
  <p>Share a link that can only be seen by one person.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_note_path %>" role="button">Create a new secret</a></p>
</div>
