<div class="jumbotron">
  <h1>Pass It On.</h1>
  <p>Share a note that can only be seen by one person at a time.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_note_path %>" role="button">Create a new note</a></p>
</div>
